:root{
    --white: #ffffff;
    --dark-gray: #9f9f9f;
    --gray: #cfcfcf;
    --sky-blue: #5fcfff;
    --blue: #3fafff;
    --green: #5fdf8f;
    --yellow: #ffef5f;
    --orange: #ff7f00;
    --dark-orange: #ff4f00;
    --red: #df0f0f;
    --dark-red: #af0000;
    --purple: #7f007f;

    --tsunami-white: #ffffff;
    --tsunami-yellow: #ffff00;
    --tsunami-red: #ff0000;
    --tsunami-purple: #ff00ff;
}
.white{
    background-color: #ffffff;
}
.white:active{
    background-color: #efefef;
}
.dark-gray{
    background-color: #9f9f9f;
}
.dark-gray:active{
    background-color: #8f8f8f;
}
.gray{
    background-color: #cfcfcf;
}
.gray:active{
    background-color: #bfbfbf;
}
.sky-blue{
    background-color: #5fcfff;
}
.sky-blue:active{
    background-color: #4fbfef;
}
.blue{
    background-color: #3fafff;
}
.blue:active{
    background-color: #2f9fef;
}
.green{
    background-color: #5fdf8f;
}
.green:active{
    background-color: #4fcf7f;
}
.yellow{
    background-color: #ffef5f;
}
.yellow:active{
    background-color: #efdf4f;
}
.orange{
    background-color: #ff7f00;
}
.orange:active{
    background-color: #ef6f00;
}
.dark-orange{
    background-color: #ff4f00;
    color: #ffffff;
}
.dark-orange:active{
    background-color: #df3f00;
}
.red{
    background-color: #df0f0f;
    color: #ffffff;
}
.red:active{
    background-color: #cf0000;
}
.dark-red{
    background-color: #af0000;
    color: #ffffff;
}
.dark-red:active{
    background-color: #9f0000;
}
.purple{
    background-color: #7f007f;
    color: #ffffff;
}
.purple:active{
    background-color: #6f006f;
}
