*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.leaflet-wave-pane path,
.leaflet-waveFill-pane path,
.leaflet-terminator-pane path,
.leaflet-terminatorFill-pane path {
  mix-blend-mode: multiply;
}

path.leaflet-interactive:focus {
  outline: none;
}

.custom-tooltip {
  text-align: center;
}

.el-message-box__message {
  white-space: pre-line;
}